* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
gradlew text eol=lf
mvnw text eol=lf
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ttf binary
*.otf binary
*.keras binary
*.h5 binary
*.joblib binary
*.pdf binary